.remove-liquidity-modal {
    .token-amount-input__currency {
        display: flex;
        align-items: center;

        pointer-events: none;
    }

    .token-amount-input__currency-select {
        margin-top: 0;
    }

    .token-amount-input__currency-select__arrow {
        display: none;
    }

    .button {
        margin-top: 32px;
    }
}
