.token-amount-input {
    padding: 16px;

    display: flex;

    border: 1px solid var(--borderColor);
    border-radius: 14px;
}

.token-amount-input + .token-amount-input {
    margin-top: 12px;
}

.token-amount-input__amount {
    width: 150px;
}

.token-amount-input__amount__balance {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;

    color: var(--mutedTextColor);

    &.not-connected {
        color: var(--accentColor);
    }
}

.token-amount-input__amount__balance-value {
    cursor: pointer;

    transition: all var(--animationDuration) ease-in-out;

    &:hover {
        text-decoration: underline;
    }
}

.token-amount-input__amount__input {
    margin-top: 8px;

    font-family: "Fira Code", monospace;

    font-weight: 600;
    font-size: 19px;
    line-height: 25px;

    color: var(--defaultTextColor);

    outline: none;

    border: none;
    border-radius: 0;

    width: 100%;

    &:disabled {
        cursor: not-allowed;

        background-color: transparent;
    }
}

.token-amount-input__currency {
    margin-left: auto;
}

.token-amount-input__currency__label {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;

    color: var(--mutedTextColor);

    text-align: right;
}

.token-amount-input__currency-select {
    margin-top: 9px;

    padding: 0;

    display: flex;
    align-items: center;

    background-color: transparent;
    border: none;
    border-radius: 14px;

    cursor: pointer;

    transition: all var(--animationDuration) ease-in-out;
}

.token-amount-input__currency-select__icon {
    width: 24px;
    height: 24px;

    border-radius: 50%;

    img {
        width: inherit;
        height: inherit;

        object-fit: cover;

        border-radius: inherit;
    }
}

.token-amount-input__currency-select__name {
    margin-left: 8px;

    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 20px !important;
}

.token-amount-input__currency-select__arrow {
    margin-left: 8px;

    display: flex;
    align-items: center;
}
