.Card {
    padding: 32px;

    border: 1px solid var(--borderColor);
    border-radius: 24px;
}

.Card-head {
    width: 100%;

    display: flex;
    align-items: center;
}

.Card-title {
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
}

.Card-icon {
    width: 24px;
    height: 24px;

    object-fit: contain;

    cursor: pointer;
}

.Card-icon + .Card-icon {
    margin-left: 12px;
}

.Card-head__right {
    margin-left: auto;
}

.Card-body {
    //
}

.Card-title + .Card-body,
.Card-head + .Card-body {
    margin-top: 24px;
}
