.ExchangeCard {

}

.ExchangeCard-inputs {
    margin-bottom: 18px;

    position: relative;
}

.ExchangeCard-switch_button {
    position: absolute;

    left: calc(50% - 18px);
    top: calc(50% - 18px);

    margin-left: auto;

    width: 36px;
    height: 36px;

    padding: 0;

    background-color: white;
    border: none;
    border-radius: 50%;

    cursor: pointer;

    transition: all var(--animationDuration) ease-in-out;

    img {
        width: inherit;
        height: inherit;

        object-fit: cover;

        border-radius: inherit;
    }

    &:hover {
        transform: rotate(180deg);
    }

    &:active {
        transform: rotate(180deg) scale(.96);
    }
}

.ExchangeCard-tooltip {
    padding: 16px !important;
    background-color: white !important;

    color: var(--defaultTextColor) !important;

    opacity: 1 !important;

    border: 1px solid var(--borderColor) !important;
    border-radius: 14px !important;

    font-weight: 600 !important;
    font-size: 15px !important;
    line-height: 19px !important;

    &::after {
        border-right-color: var(--borderColor) !important;
    }
}

.ExchangeCard-tooltip__content {
}

.ExchangeCard-tooltip__content-item {
    display: flex;
    align-items: center;
}

.ExchangeCard-tooltip__content-item + .ExchangeCard-tooltip__content-item {
    margin-top: 6px;
}

.ExchangeCard-tooltip__content-item__name {
    margin-right: 8px;

    color: var(--mutedTextColor);
}

.ExchangeCard-tooltip__content-item__value {
    margin-left: auto;
}

.ConfirmExchange-card {
    padding: 16px;

    border: 1px solid var(--borderColor);
    border-radius: 14px;
}

.ConfirmExchange-card__line {
    display: flex;
}

.ConfirmExchange-card__line__icon {
    display: flex;
    align-items: center;

    img {
        width: 24px;
        height: 24px;

        object-fit: cover;

        border-radius: 50%;
    }
}

.ConfirmExchange-card__line__amount {
    margin-left: 12px;

    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
}

.ConfirmExchange-card__line__currency {
    margin-left: auto;

    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
}

.ConfirmExchange-card__arrow {
    margin-top: 15px;
    margin-bottom: 15px;

    display: flex;
    align-items: center;

    img {
        margin-left: 6px;
    }
}

.ConfirmExchange-text {
    margin: 0;
    margin-top: 24px;

    padding: 0;

    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.ConfirmExchange-summary {
    margin-top: 24px;

    padding-top: 24px;

    display: flex;
    flex-direction: column;

    border-top: 1px solid #D9D9D9;
}

.ConfirmExchange-summary__line {
    display: flex;
    align-items: center;
}

.ConfirmExchange-summary__line__name {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

.ConfirmExchange-summary__line__value {
    margin-left: auto;

    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.ConfirmExchange-summary__line + .ConfirmExchange-summary__line {
    margin-top: 16px;
}

.ConfirmExchangeModal {
    .Button {
        margin-top: 32px;
    }
}

.ExchangeConfirmationStatusModal {
    .Modal-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .Button {
            margin-top: 32px;
        }
    }

    &.confirmed {
        .ExchangeConfirmationStatusModal-info {
            margin-top: 16px;
        }
    }
}

.ExchangeConfirmationStatusModal-art {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ExchangeConfirmationStatusModal-title {
    margin: 0;
    margin-top: 32px;

    font-weight: bold;
    font-size: 24px;
    line-height: 30px;

    text-align: center;
}

.ExchangeConfirmationStatusModal-subtitle {
    margin: 0;
    margin-top: 16px;

    font-weight: bold;
    font-size: 16px;
    line-height: 20px;

    text-align: center;
}

.ExchangeConfirmationStatusModal-info {
    margin-top: 24px;

    font-size: 16px;
    line-height: 20px;

    text-align: center;

    color: var(--mutedTextColor);
}

.ExchangeCard-info {
    display: flex;
    align-items: center;

    img {
        width: 14px;
        height: 14px;

        object-fit: cover;

        border-radius: 50%;
    }
}

.ExchangeCard-info__text {
    margin-left: 8px;

    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
}

.muted {
    color: var(--mutedTextColor);
}

.TokenAmountInput + .ExchangeCard-info {
    margin-top: 18px;
}

.ExchangeSettingsModal {
}

.ExchangeSettingsModal-section {
}

.ExchangeSettingsModal-section + .ExchangeSettingsModal-section {
    margin-top: 24px;
}

.ExchangeSettingsModal-section__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;

    display: flex;
    align-items: center;

    white-space: nowrap;

    svg {
        margin-left: 6px;
    }
}

.ExchangeSettingsModal-section__content {
    margin-top: 16px;
}

.ExchangeSettingsModal-buttons {
    display: flex;

    .Button + .Button {
        margin-left: 12px;
    }
}

.ExchangeSettingsModal-input {
    padding: 7px 14px;

    width: 100%;

    border: none;
    border-radius: 79px;

    outline: none;

    box-shadow: inset 0 0 0 1px var(--borderColor);

    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    transition: all var(--animationDuration) ease-in-out;

    text-align: right;

    &::placeholder {
        color: var(--mutedTextColor);
    }

    &:focus {
        box-shadow: inset 0 0 0 1px var(--accentColor);
    }
}

.ExchangeSettingsModal-section--content__slippage {
    display: flex;

    .Button {
        margin-right: 16px;
    }
}

.ExchangeSettingsModal-section--inline {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .ExchangeSettingsModal-section__content {
        margin-top: 0;
    }

    .ExchangeSettingsModal-input {
        width: 103px;
    }
}
