.AccountModal {
}

.AccountModal-items {
}

.AccountModal-item {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .AccountModal-item__name {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
    }

    .AccountModal-item__value {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;

        display: flex;
        align-items: center;

        svg {
            margin-left: 6px;
        }

        &.AccountModal-item__value--address {
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;

            color: var(--mutedTextColor);
            text-decoration: underline;

            cursor: pointer;

            &:hover {
                color: var(--mutedTextColorHover);
            }
        }
    }
}

.AccountModal-item + .AccountModal-item {
    margin-top: 24px;
}

.AccountModal-footer {
    margin-top: 32px;
}

.TransactionsHistory {

}

.TransactionsHistory-section__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;

    color: var(--mutedTextColor);
}

.TransactionsHistory-section__content {
    margin-top: 24px;
}

.TransactionsHistory-item {
    padding: 16px;

    display: flex;
    align-items: center;

    border-radius: 14px;

    transition: all var(--animationDuration) ease-in-out;

    cursor: pointer;

    &:hover {
        background-color: var(--hoverColor);
    }

    &:active {
        background-color: var(--activeColor);
    }

    .TransactionsHistory-item__icon {
        margin-right: 16px;
    }

    .TransactionsHistory-item__info {
        .TransactionsHistory-item__title {
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
        }

        .TransactionsHistory-item__time {
            margin-top: 6px;

            font-weight: 600;
            font-size: 14px;
            line-height: 18px;

            color: var(--mutedTextColor);
        }
    }

    .TransactionsHistory-item__amount {
        margin-left: auto;

        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
    }
}
