.Header {
    margin-top: 64px;
    margin-bottom: 80px;

    width: 100%;

    display: flex;
    align-items: center;

    .Header-logo {
        display: flex;
        align-items: center;

        text-decoration: none;

        color: var(--defaultTextColor);

        @keyframes logoIconAnimation {
            0% {
                transform: rotateY(0);
            }
            50% {
                transform: rotateY(180deg);
            }
            100% {
                transform: rotateY(0);
            }
        }

        img {
            height: 36px;
            width: 36px;

            border-radius: 50%;

            animation: 1s logoIconAnimation;
            animation-delay: .5s;
        }

        .Header-logo__text {
            margin-left: 8px;

            font-weight: bold;
            font-size: 19px;
            line-height: 24px;
        }

        &.active {
            cursor: default;
        }
    }

    .Header-links {
        margin-left: auto;

        display: flex;
        align-items: center;

        .Header-link {
            margin-left: 25px;

            font-weight: 700;
            font-size: 19px;
            line-height: 24px;

            color: var(--accentColor);

            text-decoration: none;

            transition: all var(--animationDuration) ease-in-out, border 75ms ease-in-out;

            &:hover {
                color: var(--accentColorActive);
            }

            &:active, &.active {
                color: var(--accentColorActive);
            }

            &.active {
                cursor: default;

                pointer-events: none;
            }
        }
    }

    .Header-button {
        margin-left: 25px;

        //padding: 8px 18px;
        //
        //background-color: var(--accentColor);
        //border: none;
        //border-radius: 25px;
        //
        //font-weight: 600;
        //font-size: 16px;
        //line-height: 20px;
        //
        //color: white;
    }
}
