@import "../../../styles/mixins";

.footer {
    margin-top: 80px;

    padding: 40px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-top: 1px solid #D9D9D9;

    @include mobile {
        flex-direction: column;
        justify-content: center;

        padding: 25px 0;

        .footer__logo {
            margin-bottom: 25px;
        }
    }
}

.footer__logo {
    display: flex;
    align-items: center;
}

.footer__logo__basedon {
    margin-right: 15px;

    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
}

.footer__logo__name {
    margin-left: 12px;

    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
}

.footer__links {
    display: flex;
    align-items: center;
}

.footer__link {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    color: var(--mutedTextColor);

    text-decoration: none;

    transition: all var(--animationDuration) ease-in-out;

    &:hover {
        color: var(--mutedTextColorHover);
    }
}

.footer__link + .footer__link {
    margin-left: 25px;
}
